@charset "ISO-8859-1";

body {
  margin:0; /*gets rid of white space around body*/
  height:200vh;
  position:relative; /*REQUIRED Sets up positioning for your footer*/
}

#sticky {
  width:100%;
  padding:20px;
  padding-bottom:4px;
  background:black;
  color:white;
  font-weight:bold;
  font-size:18px;
  position:fixed;    /*Here's what sticks it*/
  bottom:0;          /*to the bottom of the body*/
  left:0;            /*and to the left of the body.*/
  
  text-align:center; /*this will center the containers*/
}

#sticky * {
  margin:0;
  padding:0;
}

#sticky .container {
  display:inline-block; /*required for centering containers and allowing wrap*/
  margin-bottom:16px;
  width:20%; /*relative unit for responsive design*/
  min-width:150px; /*containers won't get smaller than 200px*/
  vertical-align:top;
}

/*----------------------------------------------------------*/
/*nothing below is necessary; it's just for styling purposes*/
/*----------------------------------------------------------*/

#sticky .container nav span {
  display:inline-block;
  margin-bottom:8px;
}

#sticky li {
  list-style:none;
}

#sticky .container h4 {
  margin-bottom:8px;
}

#sticky .cta button {
  margin-top:16px;
  padding:12px 20px;
  background:white;
  font-weight:bold;
  border:none;
  border-radius:8px;
  cursor:pointer;
  position:relative;
}
#sticky .cta button:focus {
  outline:none;
}
#sticky .cta button:active {
  top:4px
}